/* css styles */

#circle-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* Make it circular */
    width: 200px; /* Adjust the width and height to fit your design */
    height: 200px;
    object-fit: cover; /* Maintain aspect ratio */
}
